.container{
    margin-top: 80px;
}

/* Inicio do menu */
.fixed-top {
    position: fixed !important;
}
.menu_top{
    background-color: black !important;
    color: white;
}
.menu_top div{
    margin: 10px;
}
.navbar-collapse {
    display: inline-block;
}
.collapse:not(.show) {
    display: inline-block;
}
.navbar-collapse {
    flex-basis: 0;
    flex-grow: 0;
}
.list-group-horizontal li{
    padding: 5px 20px;
}
.fixed-top {
    position: unset;
}

/* Fim do menu */

/* Inicio do Banner */
.banner_top img{
    height: 612px;
    width: 100%;
}

/* Fim do Banner */

/* Inicio dos Tópicos */
.topico{
    margin: 3% 0%; 
}
.topico_img{
    display: inline-block;
    border-radius: 50%;
}
.topico_img img{
    border-radius: 50%;
}
.topico_texto{
    display: inline-block;
    margin: 3% 5%;
}

/* Fim dos Tópicos */

/* Inicio do Carrossel */
.carrossel{
    margin-top: 80px;
}

/* Fim do Carrossel */

/* Inicio da Empresa */
.empresa h2{
    font-size: 40px;
    text-align: center;
    margin: 30px 0px;
}
.empresa p{
    margin: 5% 10%;
    text-align: center;
}
.membros div{
    text-align: center;
    font: bold;
}
.membros img{
    width: 50%;
    border-radius: 50%;
    border: 5px solid black;
    margin: 20px;
}

/* Fim da Empresa */

/*Início do Rodapé*/
footer{
    background-color: #222222;
	color: #61656d;
}
.rodape_p1 article{
    margin-top: 50px;
}
.rodape_p1 li{
	list-style: none;
}
.rodape_p1 input, textarea{
	background-color: #353535;
	border-radius: 6px;
	border-style: none;
	color: #ffffff;
	padding: 5px 25px 5px 15px;
    margin: 8px 0;
}
@media only screen and (max-width: 780px){
	.rodape_p1 input{
		width: 100px;
    }
    .rodape_p1 textarea{
        width: 200px;
    }
}
@media only screen and (max-width: 480px){
    .rodape_p1 textarea{
		width: 80px;
    }
}
.rede-social{
    padding: 20px;
}
.rede-social li{
	display: inline-block;
}
.rede-social a{
	background-color: #353535;
	border-radius: 50px;
	height: 32px;
	width: 32px;
	display: inline-block;
	text-indent: -9999px;
	transition-duration: 0.5s;
}
.rede-social a[href*="facebook.com"]{
	background-image: url(../img/redes_sociais/facebook2.png);
}
.rede-social a:hover[href*="facebook.com"]{
	background-color: #3b5998;
}
.rede-social a[href*="twitter.com"]{
	background-image: url(../img/redes_sociais/twitter2.png);
}
.rede-social a:hover[href*="twitter.com"]{
	background-color: #00acee;
}
.rede-social a[href*="pinterest.com"]{
	background-image: url(../img/redes_sociais/pinterest.png);
}
.rede-social a:hover[href*="pinterest.com"]{
	background-color: #FF0000;
}
.rede-social a[href*="linkedin.com"]{
	background-image: url(../img/redes_sociais/linkedin2.png);
}
.rede-social a:hover[href*="linkedin.com"]{
	background-color: #0e76a8;
}
.rede-social a[href*="googleplus.com"]{
	background-image: url(../img/redes_sociais/googleplus2.png);
}
.rede-social a:hover[href*="googleplus.com"]{
	background-color: #e54230;
}
.rodape-2{
	background-color: #202020;
	color: #61656d;
}

/*Fim do Rodapé*/